@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #f5f6fb;
  display: flex;
  width: 100%;
  flex-direction: column;
 
}

/* navbar */
.navbar {
  background-color: #E0EBE5;
  font-size: 18px;
  font-weight: bold;
}

.container-fluid .navbar-brand {
  font-weight: bold;
}

.container-fluid .navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.container-fluid a {
 color: #141F1A;
}

.collapse {
  justify-content: flex-end;
}

.nav-link i {
  margin-right: 10px; /* Sesuaikan jumlah margin kanan sesuai kebutuhan Anda */
}


/* Atur jarak antara card dalam satu baris */
/* Atur jarak antara card pada baris pertama dengan navbar */
.card:first-child {
  margin-top: 30px; /* Sesuaikan jarak yang diinginkan */
}
.card {
  background-color: #7ed2a4;
  border-radius: 10px;
  margin-bottom: 20px; /* Jarak antara card dalam satu baris */
}

.card:hover {
  transform: scale(1.05); /* Memperbesar kartu saat dihover */
  transition: transform 0.3s;
}

.card-text:hover {
  background-color: #000000;
  color: #7ed2a4;
  transition: background-color 0.3s, color 0.3s;
}

/* Mengurangi margin-bottom card pada baris pertama */
.card:nth-child(3n+1) {
  margin-top: 100px; /* Atur jarak card pada baris pertama */
   margin-bottom: -80px; /* Jarak antara card dalam satu baris */
}


/* card */
/* Gaya untuk tombol agar digeser ke kanan sedikit */
.card-body .btn {
    border: solid 1px #7fd2a4;
    position: relative;
     background-color: #7ED2A4;
     color: #f5f6fb;
    transform: translate(50%, 5%); /* Geser ke kanan sekitar 5% */
}

.card-body a {
    text-align: center;
}

.card-body .btn:hover {
    background-color: #00b853;
    color: #1B381E;
}







/* Features */
#features {
  padding-top: 80px;
}

#features h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}



footer {
  background-color: #E0EBE5; /* Warna latar belakang footer */
  color: #000000; /* Warna teks footer */
  text-align: center; /* Teks di tengah */
  padding: 10px; /* Padding untuk memberikan jarak di sekitar teks */
  margin-top: 100px;
}

.parent-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Memastikan teks di tengah vertikal */
   max-height: 50px; /* Atur tinggi maksimum untuk nav dan footer */
}

footer p {
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 20px;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-title,
.card-subtitle,
.card-text,
.card-link {
  animation: fadeInText 1s ease-in-out;
}


/* responsive */
@media screen and (max-width: 986px) {
  /* hero section */
  .hero .content p {
    padding-left: 30px;
    padding-right: 30px;
  }
  .parent-list {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
  .parent-list img {
    width: 437px;
    height: 340px;
  }
  .parent-list.meditasi,
  .musik-relax {
    flex-wrap: wrap-reverse;
  }

  /* profile */
  .card-container {
    padding-top: 30px;
    margin: 0;
  }
  .card-list {
    padding: 0;
    margin: 10px;
  }
}

/* mobile */
@media (max-width: 450px) {
  /* footer */
.parent-footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  footer {
    max-height: 150px; /* Atur tinggi maksimum untuk footer */
  }

  footer p {
    text-align: center;
  }
}


/* Media query untuk mode mobile (misalnya, lebar kurang dari 768px) */
@media (max-width: 768px) {
    .card-body .btn {
        transform: translate(0, 0); /* Mengatur ulang transform ke nilai awal */
        text-align: center; /* Teks di tengah */
        display: block; /* Membuat tombol menjadi elemen block */
        margin: 0 auto; /* Atur margin secara otomatis di horizontal untuk membuatnya menjadi tengah */
    }
}