@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #f5f6fb;
  display: flex;
  width: 100%;
  flex-direction: column;
 
}

/* navbar */
.navbar {
  background-color: #E0EBE5;
  font-size: 18px;
  font-weight: bold;
}

.container-fluid .navbar-brand {
  font-weight: bold;
}

.container-fluid .navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.container-fluid a {
  color: rgb(0, 0, 0);
}

.collapse {
  justify-content: flex-end;
}

.nav-link i {
  margin-right: 10px; /* Sesuaikan jumlah margin kanan sesuai kebutuhan Anda */
}


/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 5, 0.106), rgba(0, 0, 5, 0.5)), url("../assets/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
    text-align: left;

}

.hero img {
  position: absolute;
  top: 0; /* Geser gambar ke atas */
  right: 0; /* Geser gambar ke kanan */
  max-width: 25%; /* Mengubah ukuran gambar agar menjadi 30% dari lebar elemen parent (container) */
  margin-top: 10px; /* Geser gambar ke atas sejauh 20 piksel */
  margin-right: 20px; /* Geser gambar ke kanan sejauh 20 piksel */
}

.hero .content {
  color: rgb(215, 215, 215);
  text-align: center;
}

.hero .content h1 {
  color: #6DDB9F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans';
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 30px; /* Sesuaikan jumlah margin sesuai dengan kebutuhan Anda */
}


/* Arrow button */
.content button {
  transform: translate(0, 30%);
  background-color: #03bbdd;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Features */
#features {
  padding-top: 80px;
}

#features h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.content1 {
  margin-top: -30px;
  padding-left: 80px;
}

.content2 {
  margin-top: -90px;
  text-align: center;
}

.content2 h2 {
  color: green;
}

.content2 p {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 555px;
}

.content3 {
  text-align: right;
  margin-top: -180px;
  padding-right: 80px;
}

.content3 h2 {
  color: green;
}

.content3 p {
  margin-bottom: 10px;
  text-align: right;
  margin-left: -50px;
}



.parent-list {
  display: flex;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
}

.parent-list img {
  width: 500px;
  height: 300px;
}

.desc {
  align-self: center;
}

.dashboard,
.trading,
.tracking,
.comunity {
  padding-top: 10px;
}

footer {
  background-color: #E0EBE5; /* Warna latar belakang footer */
  color: #000000; /* Warna teks footer */
  text-align: center; /* Teks di tengah */
  padding: 10px; /* Padding untuk memberikan jarak di sekitar teks */
}

.parent-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Memastikan teks di tengah vertikal */
}


footer p {
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 20px;
}

/* responsive */
@media screen and (max-width: 986px) {
  /* hero section */
  .hero .content p {
    padding-left: 30px;
    padding-right: 30px;
  }
  .parent-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .parent-list img {
    width: 437px;
    height: 340px;
  }
  .parent-list.meditasi,
  .musik-relax {
    flex-wrap: wrap-reverse;
  }

  /* profile */
  .card-container {
    padding-top: 30px;
    margin: 0;
  }
  .card-list {
    padding: 0;
    margin: 10px;
  }
}

/* mobile */
@media (max-width: 450px) {
  .parent-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .parent-list img {
    width: 337px;
    height: 231px;
  }
  /* footer */
  .parent-footer {
    flex-direction: column;
    height: auto;
  }
  footer p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #features h1 {
    margin-top: 20px;
  }

  .content1,
  .content2,
  .content3 {
    margin-top: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
     margin-bottom: 50px;
  }

  .content1 h2,
  .content2 h2,
  .content3 h2 {
    font-size: 50px;
  }

   .content2 p {
    font-size: 24px;
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .content3 p {
    font-size: 24px;
    text-align: center; /* Menjadikan teks di Content 3 sejajar dengan Content 2 */
    margin-bottom: 10px;
    padding-left: 60px;
  }
}

/* Tampilan mobile */
@media (max-width: 767px) {
  .hero img {
    position: static; /* Mengembalikan posisi gambar ke aliran dokumen biasa */
    max-width: 30%; /* Mengisi lebar kontainer */
    margin-bottom: -350px; /* Menambahkan jarak ke bawah gambar */
  }
}


/* Media query untuk perangkat dengan lebar kurang dari 600px (misalnya, perangkat mobile) */
@media screen and (max-width: 600px) {
  .parent-list {
    align-items: center; /* Pusatkan elemen secara horizontal */
  }

  .parent-list img {
    width: 80%;
    height: auto;
  }
}