@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #f5f6fb;
  display: flex;
  width: 100%;
  flex-direction: column;
 
}

/* navbar */
.navbar {
  background-color: #E0EBE5;
  font-size: 18px;
  font-weight: bold;
}

.container-fluid .navbar-brand {
  font-weight: bold;
}

.container-fluid .navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.container-fluid a {
 color: #141F1A;
}

.collapse {
  justify-content: flex-end;
}

.nav-link i {
  margin-right: 10px; /* Sesuaikan jumlah margin kanan sesuai kebutuhan Anda */
}



.card {
  background-color: #E0EBE5; /* Warna latar belakang card */
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  
}

.form-select {
  border-radius: 5px; /* Menambahkan border radius pada form select */
  transition: background-color 0.2s;
}

.form-select:hover {
  background-color: #7ED2A4; /* Warna latar belakang saat dihover */
}

#address, #delivery {
  border-radius: 5px; /* Menambahkan border radius pada form Address dan Delivery */
  transition: background-color 0.2s;
}

#address:hover, #delivery:hover {
  background-color: #7ED2A4; /* Warna latar belakang saat dihover */
}



.form-control {
  border-radius: 5px; /* Menambahkan border radius pada form control */
}

.btn-secondary {
  background-color: #7ED2A4; /* Warna latar belakang tombol "Back" */
  color: white;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #6CA38D; /* Warna latar belakang tombol saat dihover */
}

.btn-primary {
  background-color: #007BFF; /* Warna latar belakang tombol "Buy Carbon Credit" */
  color: white;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3; /* Warna latar belakang tombol saat dihover */
}


/* Mengkustomisasi tampilan modal */
.modal-content {
  border-radius: 10px; /* Menambahkan border radius pada modal */
}

.modal-header {
  color: white;
  border-top-left-radius: 10px; /* Menambahkan border radius pada sudut kiri atas modal */
  border-top-right-radius: 10px; /* Menambahkan border radius pada sudut kanan atas modal */
}

.modal-body {
  background-color: #f8f9fa; /* Warna latar belakang badan modal */
}

.modal-footer {
  background-color: #f8f9fa; /* Warna latar belakang footer modal */
}

/* Mengkustomisasi tombol modal */
.btn-secondary {
  background-color: #6CA38D; /* Warna latar belakang tombol "No" */
  color: white;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #4F7E68; /* Warna latar belakang tombol "No" saat dihover */
}

.btn-primary {
  background-color: #007BFF; /* Warna latar belakang tombol "Yes" */
  color: white;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3; /* Warna latar belakang tombol "Yes" saat dihover */
}






/* Features */
#features {
  padding-top: 80px;
}

#features h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}



footer {
  background-color: #E0EBE5; /* Warna latar belakang footer */
  color: #000000; /* Warna teks footer */
  text-align: center; /* Teks di tengah */
  padding: 10px; /* Padding untuk memberikan jarak di sekitar teks */
}

.parent-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Memastikan teks di tengah vertikal */
   max-height: 50px; /* Atur tinggi maksimum untuk nav dan footer */
}

footer p {
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 20px;
}

/* responsive */
@media screen and (max-width: 986px) {
  /* hero section */
  .hero .content p {
    padding-left: 30px;
    padding-right: 30px;
  }
  .parent-list {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
  .parent-list img {
    width: 437px;
    height: 340px;
  }
  .parent-list.meditasi,
  .musik-relax {
    flex-wrap: wrap-reverse;
  }

  /* profile */
  .card-container {
    padding-top: 30px;
    margin: 0;
  }
  .card-list {
    padding: 0;
    margin: 10px;
  }
}

/* mobile */
@media (max-width: 450px) {
  /* footer */
  .parent-footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  footer {
    max-height: 150px; /* Atur tinggi maksimum untuk footer */
  }

  footer p {
    text-align: center;
  }
}

